<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>icon图标选择</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_420486_hycsbg46i2e53ik9.css"/>
    <style type="text/css">
      a {
        cursor: pointer;
      }

    </style>
</head>
<body class="childrenBody" style="font-size:12px;">
<fieldset class="layui-elem-field ">
    <legend style="font-size: 12px;color:#FF5722;">双击选择图标</legend>
    <div class="layui-field-box">
        <form class="layui-form layui-form-pane">
        <div class="layui-form-item" style="margin-bottom:0px;">
            <div class="layui-inline" style="margin-bottom:0px;">
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-xitongguanli" title="系统管理">
                    <i class="iconfont icon-xitongguanli"></i>
                  </a>
                </div>
                <div class="layui-form-mid layui-word-aux" >
                  <a class="select_img" data-id="icon-neirongguanli1" title="内容管理"><i
                      class="iconfont icon-neirongguanli1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-yonghuguanli1" title="用户管理"><i
                      class="iconfont icon-yonghuguanli1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-jiaoseguanli1" title="角色管理"><i
                      class="iconfont icon-jiaoseguanli1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-caidanguanli2" title="菜单管理"><i
                      class="iconfont icon-caidanguanli2"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-xiaoxizhongxin" title="留言"><i
                      class="iconfont icon-xiaoxizhongxin"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-tuichu" title="退出"><i
                      class="iconfont icon-tuichu"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-xiazai" title="下载"><i
                      class="iconfont icon-xiazai"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-shanchu1" title="删除"><i
                      class="iconfont icon-shanchu1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-tags" title="tags"><i class="iconfont icon-tags"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-shanchu3" title="删除"><i
                      class="iconfont icon-shanchu3"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-xitongrizhi1" title="系统日志"><i
                      class="iconfont icon-xitongrizhi1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-chuyidong" title="删除"><i
                      class="iconfont icon-chuyidong"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-jiekouguanli" title="接口管理"><i
                      class="iconfont icon-jiekouguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-huishouzhan1" title="回收站"><i
                      class="iconfont icon-huishouzhan1"></i></a>
                </div>
            </div>
            <div class="layui-inline" style="margin-bottom: 0px;">
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-tianjia" title="添加"><i
                      class="iconfont icon-tianjia"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-mima" title="密码"><i
                      class="iconfont icon-mima"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-canshu1" title="参数"><i
                      class="iconfont icon-canshu1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-shuaxin3" title="刷新"><i
                      class="iconfont icon-shuaxin3"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-bianji" title="编辑"><i
                      class="iconfont icon-bianji"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-shanchu" title="删除"><i
                      class="iconfont icon-shanchu"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-nav-set-system" title="系统设置"><i
                      class="iconfont icon-nav-set-system"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-icon-test" title="删除"><i
                      class="iconfont icon-icon-test"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-logoshuiyin" title="logo水印"><i
                      class="iconfont icon-logoshuiyin"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-guanbi1" title="关闭"><i
                      class="iconfont icon-guanbi1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="iconzfb" title="支付宝"><i class="iconfont iconfontzfb"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-icon02" title="添加"><i
                      class="iconfont icon-icon02"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-xiazai2" title="下载"><i
                      class="iconfont icon-xiazai2"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-chaxun" title="查询"><i
                      class="iconfont icon-chaxun"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-tianjiabianji" title="编辑"><i
                      class="iconfont icon-tianjiabianji"></i></a>
                </div>
            </div>
            <div class="layui-inline" style="margin-bottom:0px;">
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-icon02" title="添加"><i
                      class="iconfont icon-icon02"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-changyonggoupiaorenshanchu" title="删除"><i
                      class="iconfont icon-changyonggoupiaorenshanchu"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-shanchu" title="删除"><i
                      class="iconfont icon-shanchu"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="bianji4" title="编辑"><i class="iconfont larry-bianji4"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="zhandianneirong" title="站点内容"><i class="iconfont larry-zhandianneirong"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="iconfontfilesfill" title="文章"><i class="iconfont iconfontfontfilesfill"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="chaxun3" title="查询"><i class="iconfont larry-chaxun3"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="nav" title="栏目"><i class="iconfont larry-nav"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="close" title="关闭"><i class="iconfont larry-close"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-shanchu3" title="删除"><i
                      class="iconfont icon-shanchu3"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="11" title="验证"><i class="iconfont larry-11"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="zidingyicaidan" title="自定义菜单"><i class="iconfont larry-zidingyicaidan"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="iconfontcolor16" title="图片"><i class="iconfont iconfontfontcolor16"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="guanwangicon31319" title="主题风格"><i class="iconfont larry-guanwangicon31319"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="rizhi1" title="日志"><i class="iconfont larry-rizhi1"></i></a>
                </div>
            </div>

            <div class="layui-inline" style="margin-bottom:0px;">
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="zidian" title="字典"><i class="iconfont larry-zidian"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="duanxin1" title="短信"><i class="iconfont larry-duanxin1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="shenhe" title="审核"><i class="iconfont larry-shenhe"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="bianji5" title="编辑"><i class="iconfont larry-bianji5"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="wangzhanneirong" title="网站内容"><i class="iconfont larry-wangzhanneirong"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="xiugai3" title="修改"><i class="iconfont larry-xiugai3"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-jia" title="添加"><i class="iconfont icon-jia"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="gerenxinxi3" title="个人信息"><i class="iconfont larry-gerenxinxi3"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-tianjia" title="添加"><i
                      class="iconfont icon-tianjia"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-tubiao2" title="个人信息"><i
                      class="iconfont icon-tubiao2"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="zhifubao" title="支付宝"><i class="iconfont larry-zhifubao"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-dianzancopy3" title="点赞"><i
                      class="iconfont icon-dianzancopy3"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-computer" title="电脑"><i
                      class="iconfont icon-computer"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-dashboard" title="电脑"><i
                      class="iconfont icon-dashboard"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-dengjipingdingguanli" title="等级评定管理"><i
                      class="iconfont icon-dengjipingdingguanli"></i></a>
                </div>
            </div>

            <div class="layui-inline" style="margin-bottom: 0px;">
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-gongzuoneirong" title="工作内容"><i
                      class="iconfont icon-gongzuoneirong"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-iconfont-edu10" title="全屏"><i
                      class="iconfont icon-iconfont-edu10"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-gengxin2" title="更新"><i
                      class="iconfont icon-gengxin2"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-cloud-refresh" title="刷新"><i
                      class="iconfont icon-cloud-refresh"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="iconfontbiaodandingyi" title="表单定义"><i class="iconfont iconfontfontbiaodandingyi"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-chongfuzhaopian" title="重复图片"><i
                      class="iconfont icon-chongfuzhaopian"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-xitonghuancun" title="系统缓存"><i
                      class="iconfont icon-xitonghuancun"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="databasesql" title="database-sql"><i class="iconfont larry-databasesql"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-youqinglianjie1" title="友情链接"><i
                      class="iconfont icon-youqinglianjie1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-jiankong" title="监控"><i
                      class="iconfont icon-jiankong"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-chaxun1" title="查询"><i
                      class="iconfont icon-chaxun1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-wenjianguanli" title="文件管理"><i
                      class="iconfont icon-wenjianguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-pingjiaguanli1" title="评论"><i
                      class="iconfont icon-pingjiaguanli1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-chaxun2" title="查询"><i
                      class="iconfont icon-chaxun2"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-configuration-theme" title="配置主题"><i
                      class="iconfont icon-configuration-theme"></i></a>
                </div>
            </div>

            <div class="layui-inline" style="margin-bottom:0px;">
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="xiugaimima" title="修改密码"><i class="iconfont larry-xiugaimima"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="xitongshezhi1" title="系统设置"><i class="iconfont larry-xitongshezhi1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <a class="select_img" data-id="icon-shanchu2" title="删除"><i
                      class="iconfont icon-shanchu2"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="bianji4" title="回收站"><i class="iconfont larry-bianji4"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="dianzan1" title="点赞"><i class="iconfont larry-dianzan1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="daohanglanmu" title="导航栏目"><i class="iconfont larry-daohanglanmu"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="guanggaolianmeng" title="广告联盟"><i class="iconfont larry-guanggaolianmeng"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="shenheguanli" title="审核管理"><i class="iconfont larry-shenheguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="linshi" title="临时"><i class="iconfont larry-linshi"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="daimaguanli" title="代码管理"><i class="iconfont larry-daimaguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="tequanneirong" title="特权内容"><i class="iconfont larry-tequanneirong"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="tupianguanli" title="图片管理"><i class="iconfont larry-tupianguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="zhandianguanli" title="站点管理"><i class="iconfont larry-zhandianguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="dengji" title="等级"><i class="iconfont larry-dengji"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="moxing" title="模型"><i class="iconfont larry-moxing"></i></a>
                </div>
            </div>

            <div class="layui-inline" style="margin-bottom:0px;">
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="pingjiaguanli1" title="评价管理"><i class="iconfont larry-pingjiaguanli1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="yonghuliebiao" title="用户列表"><i class="iconfont larry-yonghuliebiao"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="iconguanggaoguanli" title="广告管理"><i class="iconfont iconfontguanggaoguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="diannao" title="电脑"><i class="iconfont larry-diannao"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="fabu" title="发布"><i class="iconfont larry-fabu"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="tihuan" title="替换"><i class="iconfont larry-tihuan"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="jueseguanli" title="角色管理"><i class="iconfont larry-jueseguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="kechengguanli" title="课程管理"><i class="iconfont larry-kechengguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="gonggaoguanli" title="公告管理"><i class="iconfont larry-gonggaoguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="quanxianguanli" title="权限管理"><i class="iconfont larry-quanxianguanli"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="hrrq_xtrz" title="系统日志"><i class="iconfont larry-hrrq_xtrz"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="weixingongzhongpingtai" title="微信公众平台"><i class="iconfont larry-weixingongzhongpingtai"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="caidanguanli1" title="菜单管理"><i class="iconfont larry-caidanguanli1"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="neirongfenxi" title="内容分析"><i class="iconfont larry-neirongfenxi"></i></a>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="select_img" data-id="guanli" title="管理"><i class="iconfont larry-guanli"></i></a>
                </div>
            </div>

        </div>
    </form>
    </div>
</fieldset>
<script src="../../layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
      base: "../../js/"
    }).use(['form', 'layer', 'jquery'], function () {
        var $ = layui.jquery,
            form = layui.form,
                layer = layui.layer;

        /**选择图标*/
        $("body").on("dblclick",".select_img",function(){
            //得到当前iframe层的索引
            var index = parent.layer.getFrameIndex(window.name);
            //赋值
            var resImage = $(this).attr("data-id");
            $('#icon', window.parent.document).val(resImage);
            parent.vm.menu.icon = resImage;
            parent.layer.close(index); //执行关闭
        });

    });
</script>
</body>
</html>